<!--
<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Create A New User</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup] = "createForm" class="create-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="User Email" formControlName="email" #email>
      </
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Password" formControlName="password" #password>
      </
      <mat-form-field class="field-full-width">
        <input matInput placeholder="First Name" formControlName="firstName" #firstName>
      </
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Last Name" formControlName="lastName" #lastName>
      </
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Role" formControlName="role" #role>
      </
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button="accent" routerLink="/list">Back</button>
      <button type="submit" (click)="addUser(email.value, password.value, firstName.value, lastName.value, role.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary" >Save</button>
    </form>
  </mat-card>
</div>
-->

<div>
  <br>

    <section class="mat-typography">
      <h3>Create A New User</h3>
    </section>
    <br>
    <form [formGroup] = "createForm" class="create-form">
        <input  placeholder="User Email" formControlName="email" #email>

        <input  placeholder="Password" formControlName="password" #password>

        <input  placeholder="First Name" formControlName="firstName" #firstName>

        <input  placeholder="Last Name" formControlName="lastName" #lastName>

        <input  placeholder="Role" formControlName="role" #role>
      <br><br>
      <button mat-raised-button="accent" routerLink="/list">Back</button>
      <button type="submit" (click)="addUser(email.value, password.value, firstName.value, lastName.value, role.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary" >Save</button>
    </form>
</div>
